<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>प्रमाणपत्र</title>
        <link rel="stylesheet" type="text/css" href="/static/cces.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/tces.css">
    </head>
<body>
 
  
    <div class="container-fluid charac_cert full-width">
      {% include 'sidebar.html' %}
      
        <div class="content col-sm-10">
          {% include 'headers.html' %}
            <div class="static-box trans_cer">
                <div class="col-sm-3">
                  <div class="combined-info">
                      <p class="college-code">कॉलेज कोड: 0574</p>
                      <img src="/media/admission_photos/logo.png" width="150px" class="college_logo">
                  </div>
                </div>
                <div class="character_cer col-sm-7">
                      <span class="sub-heading">दीनदयाल उपाध्याय गोरखपुर विश्वविद्यालय, गोरखपुर से संबद्ध</span>
                      <h1 class="center-text">चन्द्रिका प्रसाद महाविद्यालय</h1> 
                      <p class="address_college">ग्राम व पोस्ट : - रामपुर बरहन (खानगी), वि.ख - दुदही (कुशीनगर)</p>
                      <h3 class="charac_cert_center_text">स्थानांतरण प्रमाण पत्र</h3>
                      
                </div> 
                <div class="col-sm-2"></div>
                <div class="clearfix"></div>
                <div class="col-sm-3">
                  <p class="date_numner">क्रमांक: {{ admission_form.id }} </p>
                </div>
      
              <div class="col-sm-9">
              <p class="date_input"> छात्र पंजीकरण संख्या: {{ admission_form.registration_number }}</p>
              </div>
              <div class="clearfix"></div>
              <br>
              <div class="col-sm-12">
                  <div class="character_content">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रमाणित किया जाता है कि श्री/कु0/श्रीमती 
                    {{ admission_form.first_name }} {{ admission_form.middle_name }} {{ admission_form.last_name }}
                    पुत्र/पुत्री/पत्नी श्री {{ admission_form.father_name }}
                    जिनका जन्म तिथि {{ admission_form.date_of_birth }}
                    है | सन <input type="text" name="start_year" value=""> से  <input type="text" name="end_year" value=""> तक 
                    इस महाविद्यालय में B.A. प्रथम/द्वितीय/तृतीय वर्ष के छात्र/छात्रा थे/थी |
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;इस सन <input type="text" name="exam_year" value=""> की <input type="text" name="exam_type" value="" class="examtype"> परीक्षा में <input type="text" name="exam_grade" value="" class="examtype"> श्रेष्ठी में उत्तरीद/अउत्तरीद 
                    होने के पश्चात् महाविद्यालय छोड़ रहे हैं |
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;जहाँ तक विदित है, इनका आचरण 
                    <input type="text" name="behavior" value="">
                    है |
                  </div>
                    <div class="clearfix"></div>
                    <br>
                  <div class="col-sm-12">
                    <p class="TC_date"> दिनांक: <input type="text" name="today_date" value=""></p>
                    </div>

                  <div class="col-sm-6">
                      <p class="lipik_class">
                          ह0 कार्यालय लिपिक
                      </p>
                  </div>
                  <div class="col-sm-6">
                      <p class="principle_class">प्रधानाचार्य</p>
                      <p class="principle_sign">
                          <img src="/media/admission_photos/principle_signature.png" alt="प्रधानाचार्य">
                      </p>
                      <br>
                  </div>
             
              </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-sm-12"><button onclick="printCertificate()" class="print_btn">Print Certificate</button></div><br>
             <!-- <a href="{% url 'student_list_details' %}">Back to CC Student Details</a> -->
        </div>
        </div>
        
   
 
  <!-- <br>
    <a href="{% url 'student_list_details_transfer' %}">Back to TC Student Details</a> -->
  <script>
        function printCertificate() {
            window.print(); // This will trigger the print dialog
        }
        $( "input" ).change(function() {
        this.style.width = ((this.value.length + 1) * 12) + "px";
        });
        $( "input.examtype" ).change(function() {
        this.style.width = ((this.value.length + 1) * 8) + "px";
        });
  </script>
</body>

</html>


