<div class="sidebar col-sm-2">
    <div class="school_logo"> <img src="/media/admission_photos/logo.png" width="100px" class="college_logo"></div>
    <div class="clearfix"></div>
    <ul class="dashboard_list">
        <li><a href="/dashboard" {% if request.path == '/dashboard/' %} class="active"{% endif %}><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
        <li><a href="{% url 'admission_form' %}" class="{% if request.resolver_match.url_name == "admission_form" %}active{% endif %}"><i class="fa fa-wpforms" aria-hidden="true"></i> Admission Form</a></li>
        <li><a href="{% url 'student_list' %}" class="{% if request.resolver_match.url_name == "student_list" %}active{% endif %}"><i class="fa fa-user"></i> Student List</a></li>
        <li><a href="{% url 'first_year' %}" class="{% if request.resolver_match.url_name == "first_year" %}active{% endif %}"><i class="fa fa-calendar" aria-hidden="true"></i> First Year</a></li>
        <li><a href="{% url 'second_year' %}" class="{% if request.resolver_match.url_name == "second_year" %}active{% endif %}"><i class="fa fa-calendar" aria-hidden="true"></i> Second Year</a></li>
        <li><a href="{% url 'third_year' %}" class="{% if request.resolver_match.url_name == "third_year" %}active{% endif %}"><i class="fa fa-calendar" aria-hidden="true"></i> Third Year</a></li>
        <li><a href="{% url 'fee_detail' %}" class="{% if request.resolver_match.url_name == "fee_detail" %}active{% endif %}"><i class="fa fa-money" aria-hidden="true"></i> Fee Management</a></li>
        <li><a href="{% url 'student_list_details' %}" class="{% if request.resolver_match.url_name == "student_list_details" %}active{% endif %}"><i class="fa fa-certificate" aria-hidden="true"></i>Character Certificate</a></li>
        <li><a href="{% url 'student_list_details_transfer' %}" class="{% if request.resolver_match.url_name == "student_list_details_transfer" %}active{% endif %}"><i class="fa fa-certificate" aria-hidden="true"></i> Transfer Certificate</a></li>
        <li><a href="{% url 'fee_structure' %}" class="{% if request.resolver_match.url_name == "fee_structure" %}active{% endif %}"><i class="fa fa-money" aria-hidden="true"></i> Fee Structure</a></li>
        <li><a href="{% url 'send_messages' %}" class="{% if request.resolver_match.url_name == "send_messages" %}active{% endif %}"><i class="fa fa-bell" aria-hidden="true"></i>Send Notification</a></li>
    </ul>
</div>