body{
    background-color: #ebf3ff !important;
    font-family: 'Nunito', sans-serif !important;
}
form.admission_form {

    margin: 0 auto;
    padding: 20px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #f4f4f4;
    padding: 8px !important;
    text-align: left !important;
}
 
label {
    color: #25396f;
}

/* Style for input fields */
input[type="text"],
input[type="date"],
input[type="file"],
input[type="number"],
textarea,
select {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    background-color: #dce7f1;
}

.form-group textarea {
    height: 50px;
}
/* Style for the submit button */
.submit-button {
    background-color: #081A51;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
}

/* Style for links */
a {
    text-decoration: none;
    color: #007bff;
}

/* Style for the logout link */
a[href*="logout"] {
    float: right;
}

/* Style for the name fields to display inline */
.form-group.name-group {
    display: flex;
    justify-content: space-between;
}

.form-group.name-group input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

/* Clearfix for form groups with floating elements */
.form-group::after {
    content: "";
    display: table;
    clear: both;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    text-align: center;
}

.form-group-first-name, .form-group-middle-name, .form-group-last-name, .form-group-father-name, .form-group-mother-name, .form-group-date-of-birth, .form-group-admission-batch, .form-group-admission-date, .form-group-caste, .form-group-12th-roll-number, .form-group-10th-roll-number, .form-group-aadhar-number, .form-group-mobile-number
{
    margin-bottom: 30px;
    border-radius: 3px;
    font-size: 14px;
}

h2.admission_form {
    margin-bottom: 20px;
}

.submit_admission {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff; /* Sidebar link color */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    padding: 40px 10px;
    text-align: right;
}
footer {
    margin-bottom: 0px;
    padding-right: 30px;
}
header p, footer p {
    color: #fff;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 20px;

}
canvas#classChart {
    /* width: 850px !important; */

    height: 389px !important;
    width: 550px !important;
}

.content-header h1 {
    font-size: 30px;
    font-weight: 700;
    color: #25396f;
    text-align: left;
    margin-bottom: 30px;
}

canvas#semesterChart {
    /* width: 850px !important; */
    height: 389px !important;
    width: 550px !important;
}
.admission_form .form-group a:hover {
    color: #081A51 !important;
    text-decoration: none;
}
a.signout_option i {
    font-size: 30px;
    color: #081A51;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}
.card .card-body {
    padding: 1.4rem 1.7rem;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.align-items-center {
    align-items: center !important;
}
.card i {
    font-size: 35px;
    padding: 5px;
    border-radius: 5px;
}
.card i.fa-home {
    color: #081A51 !important;
}
.card i.fa-user {
    color: #28a745 !important
}
.card i.fa-users {
    color: #17a2b8 !important
}
.card i.second_user {
    color: #ffc107 !important
}

.card i.third_user {
    color: #6777ef !important
}
h5{
    font-size: 20px !important;
}
p{
    color: #25396f!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #25396f !important;
    font-weight: bold!important;
    line-height: 1.2!important;
    margin-bottom: 0.5rem!important;
    margin-top: 0!important;
}
header a {
    text-decoration: none;
    margin-right: 10px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
footer p {
    color: #081A51 !important;
    font-weight: bold;
    font-size: 16px;
}


.sidebar {
    /* width: 17%; Adjust the width as needed */
    background: #081A51;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    z-index: 9999;
    color: #fff;
    padding: 20px;
    position: sticky !important;
    top: 0; /* Stick to the top of the viewport */
    left: 0; /* Stick to the left side */
    height: 100%; /* Make it full height */
}
.container-fluid.full-width {
    padding: 0;
}
ul.dashboard_list {
    margin: 36px 0;
    padding: 0 20px;
    transition: all .3s ease;
}
ul.dashboard_list li a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    padding: 12px 16px 12px 10px;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;
    white-space: nowrap;
    text-decoration: none;
}
 
ul.dashboard_list li a.active,  ul.dashboard_list li a:hover{
    background: #1B2B65;
    color: #ffffff !important;
}
/* .content {
    width: 100%; 
    padding: 20px;
    position: relative;
    left: 100px;
    min-height: 557px;
} */

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}
ul.dashboard_list li {
    padding: 14px 0px;
}

ul li a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff; /* Sidebar link color */
    font-size: 14px;
}

.address_college {
    text-align: center;
}

ul.dashboard_list li a i {
    font-size: 15px;
    padding-right: 20px;
}
span.student_name {
    font-size: 20px;
    position: relative;
    top: -4px;
}
.semester {
    padding: 15px 0px 15px 0px;
}
a:hover{
    color: #fff !important;
}
.apply_filter {
    background-color: #081A51;
    padding: 7px 30px;
    color: #fff;
    border: 1px solid #081A51;
    border-radius: 25px;
    position: relative;
    top: 26px;
}
table.student_list_tab {
    background-color: #fff;
    padding: 10px;
}
table.student_list_tab tr:nth-child(even) {
    background-color: #f9f9f9;
}
table.student_list_tab tr:hover {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.075);
}
table.student_list_tab th, table.student_list_tab td {
    font-size: 12px;
    text-transform: capitalize;
}
.details_btn, .details_btn:hover {
    background-color: #081A51;
    border-color: #081A51;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px;
    color: #fff;
}
.update_btn {
    background-color: #00a65a;
    border-color: #008d4c;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px;
    color: #fff;
}
.save_btn {
    background-color: #081A51;
    border-color: #081A51;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 7px 5px;
    color: #fff;
}
.student_heading{
    text-align: center;
    margin: 30px auto;
    padding-bottom: 2px;
    font-size: 26px;
    position: relative;
    z-index: 1;
}

.student_heading.update_heading {
    width: 40%;
}

.pagination {
    margin-right: 20px !important;
    float: right;

}
span.current-page {
    color: #081A51;
    font-weight: bold;
}
form.admission_filter {
    margin: 30px 0px 30px 0px;
    display: inline-block;
}
a.delete_btn {
    padding: 5px;
    font-size: 12px;
}

.pagination a:hover{
    color: #081A51 !important;
    font-weight: bold;
}
.trans_cer input {
    margin: 10px 0px;
    width: 200px;
    height: 30px;
}

.print_btn {
    background-color: #081A51;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    float: right;
    margin-right: 100px;
    border-radius: 24px;
    letter-spacing: 0.5px;
}
.chandrika_head{
        text-align: center;
    }
    .complete_form {
        padding: 20px;
        margin: 20px;
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
    }
    .address_college {
        text-align: center;
        font-size: smaller;
    }
    .back_to_student {
        position: relative;
        float: right;
        right: 16%;
        background-color: #081A51;
        color: #fff;
        border-radius: 24px;
        letter-spacing: 0.5px;
        padding: 10px 20px;
    }
    .confirmation-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1B2B65;
        border: 1px solid #171718;
        padding: 35px;
        z-index: 1000;
        text-align: center;
        border-radius: 5px
    }
    p#confirmationMessage {
        color: #fff !important;
    }
    /* Style for the fee structure table */
    table.fee-structure {
       margin-top: 30px;
       background-color: #fff !important;
    }

    table.fee-structure tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    table.fee-structure tr:hover {
        box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.075);
    }

    table.fee-structure th,
    table.fee-structure td {
        font-size: 12px;
        text-transform: capitalize;
    }
    .student-count-box, #user-count-box {
        margin: 30px 0px;
        padding: 40px;
        text-align: center;
        color: #fff;
        letter-spacing: 0.5px;
        font-size: 18px;
        border-radius: 10px;
    }

    .BA-First-Year, #BA-First-box {
        margin: 30px 0px;
        padding: 40px;
        text-align: center;
        color: #fff;
        letter-spacing: 0.5px;
        font-size: 18px;
        border-radius: 10px;
    }

    .BA-Second-Year, #BA-Second-box {
        margin: 30px 0px;
        padding: 40px;
        text-align: center;
        color: #fff;
        letter-spacing: 0.5px;
        font-size: 18px;
        border-radius: 10px;
    }

    .BA-Third-Year, #BA-Third-box {
        margin: 30px 0px;
        padding: 40px;
        text-align: center;
        color: #fff;
        letter-spacing: 0.5px;
        font-size: 18px;
        border-radius: 10px;
    }
    div#user-count-box {
        background-color: #3c8dbc;
    }
    div#BA-First-box {
        background-color: rgb(148, 240, 211);
    }
    div#BA-Second-box {
        background-color: rgb(240, 118, 179);
    }
    div#BA-Third-box {
        background-color: #00a65a;
    }
    .student-count-box {
        background-color: #d9534f;
    }
    .submit_admission {
        margin: 20px 0px;
    }
    .school_logo {
        text-align: center;
    }
    .message_text {
        color: green;
        margin-top: 20px;
        text-align: center;
    }
    .college-name {
        font-size: 60px;

    }
    @page { size: auto;  margin: 0mm; }
    @media print {
        .trans_cer input {
            background-color: #f4f4f4;
            border: none;
            padding: 0px;
            text-align: center;
        }
        .sidebar, button.print_btn, a.back_to_student, header, title, button#print-button{
           display:none !important;
        }
        .combined-info {
            float: left;
        }
       
        .content {
            width: 100%;
            left: 0px;
        }
        .complete_form {
            width: 100%;
        }
        .student-count-box {
            background-color: #4caf50; /* Green Color */
            color: #0c0a0a; /* White Text */
            padding: 10px;
            border-radius: 10px;
            text-align: center;
        }
        .trans_cer {
            width: 100% !important;
        }
        .static-box {
            margin-left: 0px !important;
        }
        }

canvas#dailyChart {
    /* width: 850px !important; */
    height: 389px !important;
    width: 550px !important;
}
canvas#weeklyChart {
    /* width: 850px !important; */

    height: 389px !important;
    width: 550px !important;
}
.container-fluid .row {
    margin-left: 0;
    margin-right: 0;
}

.container-fluid .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
}

canvas {
    margin-bottom: 20px;
}

