table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Define column widths */
.photo-column {
    width: 10%;
}

.name-column {
    width: 25%;
}

.father-name-column {
    width: 20%;
}

.mother-name-column {
    width: 20%;
}

.aadhar-column {
    width: 15%;
}